
body {
    margin: 0;
  }
  header {
    background-color: white;
    padding: 15px;
  }
  header ul {
    float: right;
    color: #5A697E;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-color: white;
    padding: 100px 100px;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #AEB8C2;
    text-align: center;
  }
  .profilePicture {
    max-width: fit-content;
    max-height: 300px;
  }
  .content h1{
    color:white;
  }
  
  .content p{
    color: #5A697E;
  }
  button {
    padding: 15px;
    background-color: #5A697E;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  footer {
    background-color: #5A697E;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }

  .WhatIDo {
    background-color: white;
    padding: 100px 100px;
  }